/* Color Variables */
:root {
  --light-blue: #61dafb;        /* link text color */
  --blush: #df978c;             /* header & footer hover color */
  --orange-pink: #e07f83;              /* header & footer text color */
  --ginger: #c45c66;            /* section text color */
  --gray: #615c5b;              /* section background color */
  --dark-gray: #1d1f25;         /* header & footer background color */
  --dark-blue-gray: #282c34;    /* main background color */
  --purple: #8a4baf;               /* Purple accent color */
  --orange: #ff8c00;               /* Orange accent color */
  --pink: #ff69b4;                 /* Pink accent color */
  --yellow: #ffd700;               /* Yellow accent color */
}

.prompt {
  color: var(--ginger);
}

.output {
  color: var(--light-blue);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--dark-blue-gray);
  color: var(--light-blue);
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Lobster', sans-serif;
  background-color: var(--dark-gray);
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 2em;
}

h2 {
  color: var(--purple);
}

section {
  padding: 40px;
}

p {
  font-size: 1.2em;
}

footer {
  background-color: var(--dark-gray);
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  color: var(--yellow);
}